.block {

}

/* --- Sidebar --- */
.sidebar {
    .view {
        .view-content {
            &.row {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .views-row {
            width: 100%;
        }
        .views-field-field-image {
            float: left;
            margin-right: 20px;
            img {
                width: 90px;
                min-height: auto;
            }
        }
        .views-field-title {
            color: #222222;
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            position: relative;
            margin: 0 0 10px;
            transition: all 500ms ease;
            a {
                color: #222222;
                font-size: 18px;
                line-height: 26px;
                font-weight: 500;
            }
        }
    }
}


/* --- Main content --- */
#main {
    padding-bottom: 60px;
}


/* --- Article --- */
article {
    &[about="/about-us"] {
        border: 1px solid $blue-color;
        padding: 10px;
        box-shadow: 0 0 3px 0 rgba($color: #000000, $alpha: 1.0);
        .node__content {
        }
        h2 {
            font-size: 22px;
            line-height: 30px;
        }
    }
}

.course-list-block {
    .view-content {
        .views-row {
            .col-3 {
                position: relative;

                .views-field-name {

                }

                .views-field-field-thumb {
                    .field-content {
                        img {
                            transition: all 0.3s;
                            object-fit: cover;
                            height: 160px;
                            &:hover {
                              transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

.be-comment-block {
    body{
        margin-top:20px;
        background-color:#e9ebee;
    }

    .be-comment-block {
        margin-bottom: 50px !important;
        border: 1px solid #edeff2;
        border-radius: 2px;
        padding: 50px 70px;
        border:1px solid #ffffff;
    }

    .comments-title {
        font-size: 16px;
        color: #262626;
        margin-bottom: 15px;
        font-family: 'Conv_helveticaneuecyr-bold';
    }

    .be-img-comment {
        width: 60px;
        height: 60px;
        float: left;
        margin-bottom: 15px;
    }

    .be-ava-comment {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .be-comment-content {
        margin-left: 80px;
    }

    .be-comment-content  {
        span{
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }

    }

    .be-comment-name {
        font-size: 13px;
        font-family: 'Conv_helveticaneuecyr-bold';
    }

    .be-comment-content  {
        a {
        color: #383b43;
        }
    }

    .be-comment-content {
        span {
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
        }
    }

    .be-comment-time {
        text-align: right;
    }

    .be-comment-time {
        font-size: 11px;
        color: #b4b7c1;
    }

    .be-comment-text {
        font-size: 13px;
        line-height: 18px;
        color: #7a8192;
        display: block;
        background: #f6f6f7;
        border: 1px solid #edeff2;
        padding: 15px 20px 20px 20px;
    }

}

.roadmap-form  {
    #edit-submit {
        color: #fff;
        background: #2191be;
        font-weight: 600;
    }

}

.region-content-second {
    display: flex;
}
.block-uit-comment {
    font-size: 14px;
    flex : 1;
    input#edit-submit {
        border-radius: 1px;
        width: 100px;
        font-size: 14px;
        background: #2091be;
        margin-left: 0;
        color: #fff;
        font-weight: 600;
    }
}

.hero-image-homepage {
    position: relative;
    image {
        height: 400px ;
    }
    a {
        position: absolute;
        bottom: 16%;
        padding: 19px 31px;
        border: solid 1px #ccc;
        background: rgba(0,0,0,.6);
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        left: 10%;
        border-radius: 45px;

        &:hover {
            color: black;
            background: rgba(255,255,255,0.6);
            transition: all 300ms;
        }
    }
}

#user-login-form {
   width: 60%;
}