/* --- Height Content --- */
@media (min-width: 1280px) {
    #main {
        min-height: 49vh;
    }
}

@media (min-width: 1350px) and (min-height: 768px) {
    #main {
        min-height: 52vh;
    }
}

@media (min-width: 1440px) {
    #main {
        min-height: 49vh;
    }
}

/* --- Path Search --- */
.path-search {
    h2 {
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-bottom: 48px;
    }

    /* --- List result --- */
    ol.search-results {
        padding: 0;
        margin-bottom: 60px;
        li {
            margin: 0 0 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ececec;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                bottom: -1px;
                width: 0;
                height: 1px;
                background: $blue-color;
                display: inline-block;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                background: #efefef;
                &:before {
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .search-result__title {
            margin-bottom: 4px;
        }
        .search-result__snippet {
            margin-bottom: 4px;
        }
        .search-result__info {
            margin-bottom: 0;
        }
    }
}


/* --- Path Node --- */
.path-node {
    article {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
    }
}

/** ----Path roadmap =---*/
.roadmap-form {
  display: flex;
  flex-wrap: wrap;

  .form-item {
    display: flex;
    margin: 5px;
    align-items: center;

    #edit-certificate {
      width: 25px;
      top: 0;
    }

    label {
      font-size: 13px;
      font-weight: bold;
      margin-right: 5px;
      margin-bottom: 0;
    }

  }
  #edit-submit{
    width: unset;
  }
}

.sub-table-head {
  tr {
    display: flex;
    th {
      padding: 5px;
      flex: 1;
      border: solid 1px #1dae9e;
      background: #1dae9e;
      color: #fff;
      border-bottom: none;
    }
  }
}

.course-list {
  font-size: 14px;
  .item {
    td {
      width: 20%;

      a {
        color: #484849;
        font-weight: 600;
      }
    }
  }
}
