// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .content_second {
        display: flex;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// 991
@media (max-width: $tablet-ht - 1) {

    // Button nav-toggle
    #nav-toggle {
        // position:absolute;
        // top:36%;
        // right:50px;
        cursor: pointer;
        display: block;
        padding: 10px 30px 14px 0;
        z-index: 99999;

        span,
        span:before,
        span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 2px;
            width: 25px;
            background: #fff;
            position: absolute;
            display: block;
            content: '';
            -webkit-transition: all 250ms ease-in-out;
            -moz-transition: all 250ms ease-in-out;
            -ms-transition: all 250ms ease-in-out;
            -o-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out
        }

        span:before {
            top: -8px
        }

        span:after {
            bottom: -8px
        }

        &:hover {
            >span:before {
                top: 0;
                -moz-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg)
            }

            >span:after {
                -moz-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
                bottom: 0
            }
        }
    }

    #nav-toggle.active {
        span {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        span:before,
        span:after {
            top: 0;
            background: transparent;
        }
    }
}

// 575
@media (max-width: 575px) {}

// 480
@media (max-width: $mobile-md) {}

// 360
@media (max-width: $mobile-sm) {}

// 320
@media (max-width: $mobile-xs) {}