/* --- View basic --- */
.view {
    margin-bottom: 48px;

    /* --- No Colunm Boostrap --- */
    .views-row {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ececec;
        position: relative;
        &:hover {
            .views-field-field-image {
                overflow: hidden;
                img {
                    transform: scale(1.1);
                    transition: all 0.3s ease-in-out;
                }
            }
            .views-field-title {
                color: $blue-color;
                transition: all 0.3s ease-in-out;
                a {
                    color: $blue-color;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .views-field-title {
            font-size: 20px;
            line-height: 28px;
            color: #222;
            font-weight: 500;
            a {
                font-size: 20px;
                line-height: 28px;
                color: #222;
                font-weight: 500;
            }
        }
        article {
            h2 {
                font-size: 20px;
                line-height: 28px;
                color: #222;
                font-weight: 500;
                margin-bottom: 10px;
            }
            .node__links {
                ul {
                    li {
                        padding: 0;
                        &.node-readmore {
                            a {
                                @include btn-default();
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    /* --- Colum Boostrap --- */
    div[class*="col-"] {
        padding-bottom: 15px;
        border-bottom: 0;
        overflow: hidden;
        &:before ,
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 15px;
            width: calc(100% - 30px);
            height: 100%;
            border: 1px solid $blue-color;
            z-index: 1;
        }
        &:before {
            top: 50%;
            height: 0;
            border-top: none;
            border-bottom: none;
            transition: all 0.3s ease-in-out;
        }
        &:after {
            top: 0;
            left: 50%;
            width: 0;
            border-left: none;
            border-right: none;
            transition: all 0.3s ease-in-out;
        }
        &:hover ,
        &:focus {
            &:before {
                top: 0;
                height: 100%;
                transition: all 0.3s ease-in-out;
            }
            &:after {
                left: 15px;
                width: calc(100% - 30px);
                transition: all 0.3s ease-in-out;
            }
        }

        /* --- Style no-group field --- */
        .views-field {
            padding-left: 13px;
            padding-right: 15px;
            position: relative;
            z-index: 2;
            &.views-field-field-image {
                padding-left: 0;
                padding-right: 0;
                z-index: 0;
            }
        }
        .views-field-title {
            font-size: 20px;
            line-height: 28px;
            color: #222;
            font-weight: 500;
            a {
                font-size: 20px;
                line-height: 28px;
                color: #222;
                font-weight: 500;
            }
        }
    }

    /* --- views field basic --- */
    .views-field {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        a.views-more-link {
            @include btn-default();
        }
    }

    .views-field-body {
        p {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }
    }

    .views-field-field-image {
        overflow: hidden;
        img {
            min-height: 200px;
            object-fit: cover;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }
    }
}
