<div class="container">
    <div class="be-comment-block">
        {% if comments %}
        <h1 class="comments-title">Bình luận tốt</h1>
        {% endif %}
        {% for comment in comments %}
        <div class="be-comment">
            <div class="be-img-comment">
                <a href="/user/{{ comment.getOwnerId() }}">
                    <img src="{{ file_url(comment.getOwner().user_picture.entity.getFileUri())}}" onerror="if (this.src != 'error.jpg') this.src = '/sites/default/files/default_images/student-cartoon-avatar-png-favpng-T0KuPNVPyfp00uNTwQVK2yk7D_1.jpeg';"  alt="" class="be-ava-comment">

                </a>
            </div>
            <div class="be-comment-content">
				<span class="be-comment-name">
					{{ comment.title() }}
					</span>
                <span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
                    {{ comment.getCreatedTime() | date('Y-m-d:H:i:s') }}
				</span>

                <p class="be-comment-text">
                    {{ comment.get('field_content').value }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>