{% if has_header %}
<table class="sub-table-head">
  <th class="col-item">
    Mã môn
  </th>
  <th class="col-item" style="flex: 2">
    Tên môn học
  </th>
  <th>
    Loại môn
  </th>
  <th class="col-item">
    Số tín chỉ
  </th>
</table>
{% endif %}
<table class="course-list">
  {% for course in courses %}
    <tr class="item">
      <td>{{ course.get('code').value }}</td>
      <td style="width: 40%">
        {{ course.getData('link') }}

      </td>
      <td>{{ course.getData('course_type').label() }}</td>
      <td>{{ course.get('credit').value }}</td>
    </tr>
  {% endfor %}
</table>



