{#<div class="ala" style="margin-top: 20px;">#}
{#    <h3>Chúng tôi dựa trên các thông tin về năng lực học tập sau để gợi ý cho bạn:</h3>#}
{#    <ol>#}
{#        {% for student in students %}#}
{#            <li><a href="/user/{{ student.student}}/my-class">Xem lộ trình có độ tương quan: {{ student.scoreSi }}% </a></li>#}
{#        {% endfor %}#}
{#    </ol>#}
{#    <h3>Phần trăm chọn Luận văn: 0%</h3>#}
{#</div>#}