<div class="course-detail row">
  <div class="left col-4 col-md-4 col-sm-12">
    <div class="thumbnail">
      <img src="{{ file_url(course.field_thumb.entity.getFileUri()) }}" onerror="if (this.src != 'error.jpg') this.src = '/sites/default/files/default_images/free-course.jpg';" />
    </div>
  </div>
  <div class="right col-8 col-md-8 col-sm-12">
    <h2 class="title">{{ course.label() }}</h2>
    <div class="code"><span>Mã môn: </span>{{ course.get('code').value }}</div>
    <div class="description">{{ course.get('description').value }}</div>
    <div class="credit"><span>Số tín chỉ : </span>{{ course.get('credit').value }}</div>
    <hr />
    <div class="teachers">
      <h3>Top giảng viên</h3>
      {% for teacher in teachers %}
        <div class="item">
          <span>{{ loop.index }}. </span><a href="/user/{{ teacher.id }}">{{ teacher.name }}</a>
        </div>
      {% endfor %}
    </div>
    <hr />
    <div class = "documents">
        {% if documents %}
        <h3>Tài liệu</h3>
        {% endif %}
        {% for item in documents %}
          <a href = "{{ item.url }}" target="_blank">{{ item.label }}</a>
        {% endfor %}
    </div>
  </div>
</div>
