<div class="detail-class">
    <div class="section-header">
        <div class="field-data">
            <label>Mã lớp học: </label> <span>{{ class.get('field_code').value }}</span>
        </div>
        <div class="field-data">
            <label>Tên lớp học: </label> <span>{{ class.label() }}</span>
        </div>
        <div class="field-data">
            <label>Môn học: </label><span>{{ class.get('field_course').entity.label() }}</span>
        </div>
        <div class="field-data">
            <label>Giảng viên: </label> <span>{{ class.get('field_teacher').entity.field_full_name.value }}</span>
        </div>
    </div>
    <br />
    <div class="section-content">
        <h3>Danh sách sinh viên</h3>
        <div class="action-link">
            <a class="button button-action button--primary button--small" href="/admin/class/{{ class.id() }}/add-student">Thêm Sinh viên</a>
        </div>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Mã sinh viên</th>
                    <th>Tên sinh viên</th>
                    <th>Điểm số</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{ item.field_student.entity.field_code.value }}</td>
                        <td>{{ item.field_student.entity.field_full_name.value }}</td>
                        <td>{{ item.get('field_score').value }}</td>
                        <td>{{ item.get('field_status').value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>