{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page" class="page" {{ page_css |raw }}>

  {% if page.headline %}
    <section id="headline" class="headline section">
      <div class="container">
        {{ page.headline }}
      </div>
    </section>
  {% endif %}

  <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
    <div class="container clearfix">

      {% if logo %}
        <a href="{{ front_page }}" title="{{ site_name }}" rel="home" id="logo">
          <img src="{{ logo }}" alt="{{ site_name }}" />
        </a>
      {% endif %}
      {% if site_name or site_slogan %}
        <div id="name-and-slogan"{% if hide_site_name and hide_site_slogan %} class="visually-hidden"{% endif %}>
          {% if site_name %}
            {% if title %}
              <div id="site-name"{% if hide_site_name %} class="visually-hidden"{% endif %}>
                <strong>
                  <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
                </strong>
              </div>
              {# Use h1 when the content title is empty #}
            {% else %}
              <h1 id="site-name"{% if hide_site_name %} class="visually-hidden" {% endif %}>
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
              </h1>
            {% endif %}
          {% endif %}
          {% if site_slogan %}
            <div id="site-slogan"{% if hide_site_slogan %} class="visually-hidden"{% endif %}>
              {{ site_slogan }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      <a class="navbar-toggle collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      {{ page.header }}
      <!-- <div class="region-header">
      </div> -->
    </div>
  </header>

  {% if page.mobile_menu %}
  <section id="mobile-menu" class="section section-mobile-menu">
    <div class="close-menu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
     {{ page.mobile_menu }}
  </section>
  {% endif %}

  {% if page.main_menu %}
    <section id="main_menu" class="main_menu section">
      <div class="container">
      </div>
    </section>
  {% endif %}


  {% if page.banner %}
    <section id="banner" class="banner section">
      <div class="container">
        {{ page.banner }}
      </div>
    </section>
  {% endif %}

  {% if page.breadcrumb %}
    <section id="breadcrumb" class="breadcrumb section">
      <div class="container">
        {{ page.breadcrumb }}
      </div>
    </section>
  {% endif %}


    <section id="main">
      <div class="container">
        <div class="row">
        {% if page.sidebar_first %}
        <aside id="sidebar-first" class="sidebar-first column sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_first }}
        </aside>
        {% endif %}
        <div id="content" role="main" class="col-lg-{{page.main_content_width}} col-md-{{page.main_content_width}} col-sm-12 col-xs-12">
            <a id="main-content" tabindex="-1"></a>
            {% if tabs %}
              <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
                {{ tabs }}
              </nav>
            {% endif %}
            {{ page.help }}
            {% if action_links %}
              <ul class="action-links">
                {{ action_links }}
              </ul>
            {% endif %}
            {{ page.highlighted }}
            {{ page.content }}
        </div>
        {% if page.sidebar_second %}
          <aside id="sidebar-second" class="sidebar-second column sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12" role="complementary">
              {{ page.sidebar_second }}
          </aside>
        {% endif %}

        </div>
      </div>
    </section>

  {% if page.content_second %}
    <section id="content_second" class="content_second">
      <div class="container">
        {{ page.content_second }}
      </div>
    </section>
  {% endif %}

  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <div id="footer_top" class="section footer-top">
      <div class="container">
        <div class="row">
          <div class="footer-column-col-sm-4 col-xs-4 col-sm-4">
            {{ page.footer_first }}
          </div>
          <div class="footer-column-col-sm-4 col-xs-4 col-sm-4">
            {{ page.footer_second }}
          </div>
          <div class="footer-column-col-sm-4 col-xs-4 col-sm-4">
            {{ page.footer_third }}
          </div>
          {# <div class="footer-column-col-sm-3 col-xs-3 col-sm-3">
            {{ page.footer_fourth }}
          </div> #}
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.footer %}
    <footer id="footer" class="section footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
  <a href="#Top" class="btn-btt" title="このページの先頭へ" style="display: block;"></a>
</div>

