/*------------------------------------------------------------------*/
/* Typography */

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    font-size: $size-default;
}

body {
    color: $body-color;
    // @include wp-font(font-body);
    font-size: rem(16px);
    line-height: $line-height-default;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $title-color;
    margin-bottom: rem(20px);
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    line-height: 1.1;
    // @include wp-font(font-bold);
    color: $title-color;
    // @include wp-font(font-body);
}

h1,
.h1 {
    font-size: rem(40px);
}

h2,
.h2 {
    font-size: rem(32px);
}

h3,
.h3 {
    font-size: rem(20px);
}

h4,
.h4 {
    font-size: rem(18px);
}

h5,
.h5 {
    font-size: rem(16px);
}

h6,
.h6 {
    font-size: rem(14px);
}

a {
    transition: all 0.3s ease-out;
    color: $link-color;
    outline: none;

    &:hover,
    &:focus {
        color: darken($link-color, 8%);
        outline: none;
        text-decoration: none;
    }
}

strong {
    font-weight: $font-weight-bold;
}

ul,
ol {
    margin-bottom: rem(15px);
}

p {
    margin-bottom: rem(15px);
}

address {}

label {
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

input,
select,
textarea {
    max-width: 100%;
}

iframe {
    max-width: 100%;
}


// ====================
// Reset From
// ---
// Fixed Background input when complete 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

input,
select {
    @include form-default-input;
    outline: none;
    box-shadow: initial;
}

textarea {
    @include form-default-input;
}

input[type="file"] {
    height: rem(45px);
    padding: rem(11px) rem(20px);
    line-height: 1.42857143;
}

input[type=radio],
input[type=checkbox] {
    position: relative;
    top: rem(-3px);
}