h1.page-title {
    display: inline-block;
    width: 100%;
    margin: 40px 0 50px;
    text-align: center;
}

input {
    height: 42px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0;
    display: inline-block;
    width: 100%;
    &.form-checkbox {
        height: auto;
    }
    &.form-radio {
        height: auto;
    }
}

textarea {
    padding: 10px 12px;
}

label {
    display: block;
}

/* --- Form user --- */
form {
    margin-left: auto;
    margin-right: auto;
    background: #e9ecef;
    margin-bottom: 60px;
    padding: 30px;
    .form-item {
        margin-top: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .form-actions {
        input {
            @include btn-default();
            border-radius: 0;
            width: auto;
        }
    }
    &.contact-form {
        max-width: 100%;
        .form-actions {
            margin-bottom: 0;
        }
    }
    &.search-form {
        max-width: 100%;
    }
}

/* --- Table --- */
table{
    width: 100%;
    margin: 0 auto;
	text-align: center;
	thead tr th {
            border-right: 1px solid#DBE0E6;
            background: #2091be;
            color: white;
            padding: 15px 20px;
            &:last-child{
                border-right:  1px solid #DBE0E6;
            }
            h4.label{
                color: white;
            }
        }

    tbody{
        tr {
            &:nth-child(odd) {
                background:  #fff;
            }
            &:nth-child(even) {
                background:  #f8f8f8;
            }
            td {
                border: 1px solid #DBE0E6;
                padding: 15px 20px;
            }
        }
    }
}

/* --- Pager --- */
ul.pager__items {
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        padding: 0;
        margin: 0 4px;
        &.is-active {
            a {
                border: 2px solid $blue-color;
                background: $blue-color;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
        }
        a {
            display: inline-block;
            border: 2px solid $blue-color;
            background: #fff;
            color: $blue-color;
            box-sizing: border-box;
            padding: 6px 14px;
            transition: all 0.3s ease-in-out;
            &:focus ,
            &:hover {
                border: 2px solid $blue-color;
                background: $blue-color;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

/* --- Tab User --- */
ul.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    li {
        &.is-active {
            a {
                border: 2px solid $blue-color;
                background: $blue-color;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
        }
        a {
            display: inline-block;
            border: 2px solid $blue-color;
            background: #fff;
            color: $blue-color;
            box-sizing: border-box;
            padding: 10px 30px;
            transition: all 0.3s ease-in-out;
            font-weight: bold;
            &:focus ,
            &:hover {
                border: 2px solid $blue-color;
                background: $blue-color;
                color: #fff;
                transition: all 0.3s ease-in-out;
            }
        }
    }
}

/* --- Breadcrum --- */
// nav.breadcrumb {
//     padding: 0;
//     display: inline-block;
//     background-color: transparent;
//     margin: 25px 0 24px;
//     ol {
//         display: flex;
//         li {
//             a {
//                 font-size: 12px;
//                 line-height: 42px;
//                 display: inline-block;
//                 position: relative;
//                 color: #545454;
//                 background: #fff;
//                 padding: 0 15px 0 25px;
//                 transition: all 0.3s ease-in-out;
//                 border: 0.5px solid #ececec;
//                 border-right: none;
//                 box-sizing: border-box;
//                 &:after ,
//                 &:before {
//                     position: absolute;
//                     content: '';
//                     right: -10px;
//                     top: -1px;
//                     border-left: 10px solid #ccc;
//                     border-top: 21px solid transparent;
//                     border-bottom: 21px solid transparent;
//                     z-index: 10;
//                 }
//                 &:after {
//                     right: -9px;
//                     border-left: 10px solid #fff;
//                     transition: all 0.3s ease-in-out;
//                 }
//                 &:hover {
//                     background: $blue-color;
//                     color: #fff;
//                     transition: all 0.3s ease-in-out;
//                     &:after {
//                         border-left: 10px solid $blue-color;
//                         transition: all 0.3s ease-in-out;
//                     }
//                     span:before {
//                         color: #fff;
//                         transition: all 0.3s ease-in-out;
//                     }
//                 }
//             }
//             &:before {
//                 display: none;
//             }
//             &:first-child {
//                 a {
//                     border-radius: 5px 0 0 5px;
//                     font-size: 0;
//                     display: inline-block;
//                     width: 58px;
//                     border: 0.5px solid #ececec;
//                     border-right: none;

//                 }
//                 span {
//                     position: relative;
//                     left: 4px;
//                     &:before {
//                         position: absolute;
//                         content: '\f015';
//                         top: 50%;
//                         left: 50%;
//                         transform: translate(-50%, -50%);
//                         @include fontawesome(fas);
//                         font-size: 18px;
//                         color: #757575;
//                         transition: all 0.3s ease-in-out;
//                         &:hover {
//                             color: #fff;
//                             transition: all 0.3s ease-in-out;
//                         }
//                     }
//                 }
//             }
//             &.current {
//                 font-size: 12px;
//                 line-height: 40px;
//                 position: relative;
//                 color: #fff;
//                 background: $blue-color;
//                 padding: 0 20px 0 25px;
//                 border-radius: 0 40px 40px 0;
//                 display: flex;
//                 align-items: center;
//                 border: 1px solid #ececec;
//                 box-sizing: border-box;
//                 a {
//                     border-radius: 0 40px 40px 0;
//                     border: none;
//                     background: $blue-color;
//                     color: #fff;
//                     &:before {
//                         display: none;
//                     }
//                     &:after {
//                         border-left: 10px solid $blue-color;
//                     }
//                 }
//             }
//         }
//     }
// }
