footer.footer {
	text-align: center;
    background: #1c1c1c;
	padding: 20px 0;
	color: #9c9c9c;
	p {
		margin: 0;
		color: #9c9c9c;
		text-align: center;
		padding: 10px;
		font-size: 14px;
		letter-spacing: 2px;
	}
}

/* --- Footer top --- */
.footer-top {
	padding-bottom: 80px;
    padding-top: 80px;
	background: #161616;
	color: #848484;
	font-size: 16px;
	line-height: 26px;
	.row >* {
		h2 {
			color: #fff;
			text-transform: uppercase;
			font-size: 22px;
			font-weight: 500;
			padding-bottom: 12px;
			position: relative;
			&:before {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: 50px;
				height: 2px;
				background: #313131;
				display: block;
			}
		}
		ul.menu {
			margin: 0;
			li {
				margin-bottom: 10px;
				padding: 0;
				display: block;
				a {
					display: block;
					color: #848484;
					&:hover ,
					&:focus {
						color: #fff;
						text-decoration: underline;
						transition: all 0.3s ease;
					}
				}
			}
		}
	}
}