
/* --- Header --- */
header {
    .region-header {
        display: flex;
        border-bottom: 1px solid #ececec;
        padding: 30px 0;

        a.site-logo {
            img {
                width: 60px;
            }
        }

        nav.menu--main {
           flex: 3;

            ul.navbar-nav {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }

        nav.menu-account {

        }

    }
    ul.navbar-nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        margin-right: -15px;
        li {
            a {
                display: inline-block;
                padding: 8px 15px;
                font-size: 18px;
                font-weight: 400;
                color: #222;
                font-family:  'Open Sans', sans-serif;
                position: relative;
                &.nav-link {
                    padding: 8px 15px;
                }
                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    width: 3px;
                    height: 12px;
                    margin-top: -1px;
                    background: $blue-color;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
                &:hover ,
                &:focus {
                    color: $blue-color;
                    &:before {
                        opacity: 1;
                        transition: all 0.3s ease-in-out;
                    }
                }
                &.is-active {
                    color:$blue-color;
                    &:before {
                        opacity: 1;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            &.menu-item--active-trail {
                a{
                    color:$blue-color;
                    &:before {
                        opacity: 1;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
